
body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: silver;
    /*font-family: "Helvetica-Neue", Georgia, Arial, sans-serif;*/
    /*font-family:  Georgia, 'Times New Roman', Times, serif;*/

    color:#222222;
    /*font-weight: 600;*/
}
.sidebar-nav {
    padding: 9px 0;
}

@media (max-width: 980px) {
/* Enable use of floated navbar text */
.navbar-text.pull-right {
  float: none;
  padding-left: 5px;
  padding-right: 5px;
}
}

.myrow {
}

.hero-unit {
    background-color: #222222;
    border-radius: 0px;
    padding:0px;
    /*height: 340px;*/
    /*overflow: auto;*/
    color: lightgray;
    padding:40px;
    font-size: 1.0em;
    min-height: 500px;
    position: relative;
    
}

.hero-unit h3 {
    color: silver;
    margin-bottom:4px;
}

.hero-unit img {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30%;
/*    
    float: right;
    right: 30px;
    bottom:-40px;
*/}

.icon-box {
    position: absolute;
    bottom:10px;
/*    right:30px;
*/}

.icon-box a {
    margin-left: 6px;
}

.footer {
    position: relative;
    color: #222;
}

.right-footer {
    position: absolute;
    right: 0px;
}

.landing-content {
    /*padding:10px;*/
    /*position: relative;*/
/*    padding: 40px;
    border: solid #333 1px;
*/
/*    overflow: auto;
    margin-right: 10px;
    margin-top: 20px;
*/
}

.landing-content-text {
    padding-right:60px;
}

.landing-content-text p {
    line-height: 20px;
    margin: 0px;
    margin-bottom: 15px;
}

.headline-box {
    margin-top: 10px;
    margin-bottom:10px;
}

.headline-box h3 {
    padding:0px;
    margin: 0px;
    line-height: 14px;
}

.headline-box p {
    padding-left: 20px;
    margin: 0px;
    font-style: italic;
    color:gray;
}
/*.mike-img {
    float: right;
    top:0;
    width: 512px;
    height: 340px;
}*/


/*      .border-radius(@radius: 0px) {
-webkit-border-radius: @radius;
 -moz-border-radius: @radius;
      border-radius: @radius;
*/
/*
     FILE ARCHIVED ON 09:02:32 Jan 30, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:18:09 Feb 07, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.499
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.009
  esindex: 0.009
  cdx.remote: 30.01
  LoadShardBlock: 178.541 (3)
  PetaboxLoader3.datanode: 129.691 (4)
  PetaboxLoader3.resolve: 206.619 (3)
  load_resource: 177.952
*/